BODY {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color:#000000}
P {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color:#000000}
li {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
